// Custom styles.
body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

// .post {
//    margin-top: 0px;
//    margin-bottom: 60px;
//    padding: 25px;
//    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
// }

//标题栏字体颜色
.site-meta {
  background: $black; //修改为自己喜欢的颜色
}

// 鼠标样式
  * {
      cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important
  }
  :active {
      cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"),auto!important
  }